<p id="notice"><%= notice %></p>

<h1>Pets</h1>

<div class="row">
    <% @pets.each do |pet| %>
      <div class="col-md-3">
       <div class="panel panel-default">
        <div class="panel-body">
         <h2><%= pet.name %></h2>
         <p><%= pet.breed %></p>

         <div class="btn-group">
          <%= link_to 'Show', pet, class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_pet_path(pet), class: "btn btn-success" %>
          <%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
         </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>

<%= link_to 'New Pet', new_pet_path, class: "btn btn-primary" %>
